*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(250, 255, 114, 0.443),rgba(255, 194, 114, 0.724)),url("./images/10120.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 20px;
}
.form-box h1{
    font-size: 30px;
    margin-bottom:60px;
    color: #000000;
    position: relative;
}
.form-box::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background:#000000;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden; 

}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #000000;
}

form p{
    text-align: left;
    font-size: 13px;
}
.btn-field{
    width:100%;
    display: flex;
    justify-content: space-around;
}
#contact>.btn{
    background: #504c4c;
}
.btn-field button{
    flex-basis: 48%;
    background:rgb(0, 0, 0);
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group{

    height:280px;
}
.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}